header {
    /* background: url('https://source.unsplash.com/ANJHXftvvJ8/4000x6000'); */
    background: url('https://source.unsplash.com/lx9RWIg1Rdg/6194x4955');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

nav {
    z-index: 999;
}

.header-text {
    position: relative;
    top: 40vh;
    /* margin-top: 10vh; */
}